# .env.example

# What port can this be access from (https webserver)
PORT=your port of choice

# MongoDB Credentials
MONGOIP=ip address here
MONGOPORT=mongodb port
MONGOUSER= the username of choice
MONGOPASS= the password of choice
MONGODB= the database of choice
MONGOAUTH= the database to authenticate to on mongo
