# Set NODE_ENV to development for environment variable print out at launch in console
NODE_ENV=development

# What port can this be access from (http(s) webserver)
PORT=your port of choice

# MongoDB Credentials
MONGOIP=ip address here
MONGOPORT=mongodb port
MONGOUSER= the username of choice
MONGOPASS= the password of choice
MONGODB= the database of choice
MONGOAUTH= the database to authenticate to on mongo

# SSL Config
SSL_ENABLE=true # true (https) / false (http)
SSL_PRIV_KEY=./certs/private.key
SSL_PUB_KEY=./certs/public.key
